@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: 100;
    src: url("./woff2/KalamehWeb-Thin.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-Thin.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: 200;
    src: url("./woff2/KalamehWeb-ExtraLight.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-ExtraLight.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: 300;
    src: url("./woff2/KalamehWeb-Light.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-Light.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: 500;
    src: url("./woff2/KalamehWeb-Medium.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-Medium.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: 600;
    src: url("./woff2/KalamehWeb-Semibold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-Semibold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: 800;
    src: url("./woff2/KalamehWeb-ExtraBold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-ExtraBold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: 900;
    src: url("./woff2/KalamehWeb-Black.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-Black.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: bold;
    src: url("./woff2/KalamehWeb-Bold.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-Bold.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
    font-family: KalamehWeb;
    font-style: normal;
    font-weight: normal;
    src: url("./woff2/KalamehWeb-Regular.woff2") format("woff2"),
        /* FF39+,Chrome36+, Opera24+*/ url("./woff/KalamehWeb-Regular.woff")
            format("woff"); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
